    <!-- Start wc error -->
    <section class="wc-error">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="error-wrap error-one">
                        <img src="{{ theme:asset }}assets/images/error-one.svg" alt="error-img">
                    </div>
                    <div class="wc-error-content">
                        <h2>404</h2>
                        <h3>Looks like are lost in the space</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        <a href="/" class="btn btn-primary">Back To Home</a>
                    </div>
                    <div class="error-wrap error-three">
                        <img src="{{ theme:asset }}assets/images/error-three.svg" alt="error">
                    </div>
                </div>
                <div class="col-12 col-md-6 position-relative">
                    <div class="error-wrap error-two">
                        <img src="{{ theme:asset }}assets/images/error-two.svg" alt="error-img">
                    </div>
                    <div class="wc-error-image">
                        <img src="{{ theme:asset }}assets/images/error.png" alt="error">
                    </div>
                    <div class="error-wrap error-four">
                        <img src="{{ theme:asset }}assets/images/error-four.svg" alt="error-img">
                    </div>
                    <div class="error-wrap error-five">
                        <img src="{{ theme:asset }}assets/images/error-five.svg" alt="error-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
  