<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Tag  -->
    <title>{{ title ?? site:name }}</title>
    <meta name="title" content="{{ title ?? site:name }}">
    <meta name="description" content="{{ seo_description ?? 'Discover beautiful content and services at ' }}">
    <!-- Favicon -->
    {{ setting }}{{ favicon }}<link rel="icon" type="image/png" href="{{ url }}">{{ /favicon }}{{ /setting }}
    <meta name="description" content="{{ seo_description ?? 'Discover beautiful content and services at '}}">
    <meta property="og:title" content="{{ seo_title ?? site:name }}">
    <meta property="og:description" content="{{ seo_description ?? 'Explore services and stories with us.' }}">
    <meta property="twitter:title" content="{{ seo_title ?? site:name }}">
    <meta property="twitter:description" content="{{ seo_description ?? 'Explore services and stories with us.' }}">

    {{ if seo_image }}
    {{ seo_image }}
    <meta property="twitter:image" content="{{ link to="{{url}}" absolute="true" }}">
    <meta property="og:image" content="{{ link to="{{url}}" absolute="true" }}">
    {{ /seo_image }}
    {{ else }}
    <meta property="og:image" content="{{ theme:asset src='assets/images/og-default.jpg' }}">
    <meta property="twitter:image" content="{{ theme:asset src='assets/images/og-default.jpg' }}">
    {{ /if }}
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/bootstrap.min.css' }}?v={{ now format="YmdHis" }}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/magnific-popup.css' }}?v={{ now format="YmdHis" }}">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/swiper-bundle.min.css' }}?v={{ now format="YmdHis" }}">
    <!-- jquery CSS -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/jquery-ui.css' }}?v={{ now format="YmdHis" }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css?v={{ now format="YmdHis" }}" rel="stylesheet">

    <!-- StyleSheet -->
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/reseat.css' }}?v={{ now format="YmdHis" }}">
    <link rel="stylesheet" type="text/css" href="{{ theme:asset src='assets/css/style.css' }}?v={{ now format="YmdHis" }}">
    <link rel="stylesheet" href="{{ theme:asset src='assets/css/responsive.css' }}?v={{ now format="YmdHis" }}">

</head>