<!-- Start abouts section -->
<section class="abouts-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <!-- about wrapper -->
                <div class="about-wrapper">
                    <div class="about-left-images">
                        <div class="long-img img-cover">
                            {{ image_1 }}<img src="{{ url }}" alt="about">{{ /image_1 }}
                        </div>
                    </div>
                    <div class="main-about-content-box">
                        <h2 class="title">{{ title }}</h2>
                        <div class="about-content-box">
                            <div class="about-contents-wrapper">
                            </div>
                            <div class="about-rigth-images">
                                <div class="img-cover">
                                  {{ image_2 }}  <img src="{{ url }}" alt="about">{{ /image_2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close abouts section -->