
<!-- Start company section -->
<section class="company-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="company-wrapper">
                    {{ logos }}
                    {{ image }}
                    <a href="javascript:;"><img src="{{ url }}" alt="img" class="object-cover"></a>
                    {{ /image }}
                    {{ /logos }}
                </div>
            </div>
        </div>
    </div>
</section>