<!-- Start Contact section -->
    <section class="faq-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- column -->
                <div class="col-12">
                    <!-- faq title -->
                    <div class="style-3-title">
                        <h2 class="title">{{ section_title }}</h2>
                        <p>{{ section_subtitle }}</p>
                    </div>
                    <!-- faq content -->

                        {{ if collections == "faqs" }}
                        {{ collection:faqs as="faqs" paginate="{paginate}" limit="{limit}" }}

                        {{ /if }}
                    <div class="faq-content grid">
                        {{faqs}}

                        <div class="wc-faq-accordian grid-item">
                            <h4 class="wc-faq-accordian-title">{{ title }}
                            </h4>
                            <div class="wc-faq-accordian-content">
                                <p>{{ answer }}</p>
                            </div>
                        </div>
                        {{ /faqs}}
                    </div>
                    <!-- Load more btn -->
                    {{ paginate }}
                    <input type="hidden" class="lastPage" value="{{ total_pages }}">
                    {{ if next_page }}
                    <div class="load-more-btn load-more-wrap">
                        <a href="{{ next_page }}" class="btn btn-primary ajax-load-more-grid">
                            Load More
                            <img src="{{ theme:asset }}assets/images/load-more.svg" alt="load-more" class="object-cover">
                        </a>
                    </div>
                    {{ /if }}
                    {{ /paginate }}
                        {{ if collections == "faqs" }}
                        {{ /collection:faqs }}
                        {{ /if }}
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact section -->